@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity
@inject IHttpContextAccessor Accessor
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*<meta http-equiv="refresh" content="30">*@
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>EIS</title>
    <partial name="EISDesign/_Styles" />
    <partial name="EISDesign/_Scripts" />
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed  layout-fixed layout-navbar-fixed" id="eisbody">
        <div class="wrapper">
            <!-- Preloader -->
            @*<div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation-logo shadow-logo" src="~/images/EIS.svg" alt="EIS Logo" height="50" weight="50">
            </div>*@
            <partial name="EISDesign/_TopNavigation" />
            <partial name="EISDesign/_MainNavigation" />
            <div class="content-wrapper" id="myContent">
                <div class="content p-0" style="z-index: -1;">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (@Accessor.HttpContext.Session.GetInt32("HeaderGroup").HasValue)
                        {
                            @if (@Accessor.HttpContext.Session.GetInt32("HeaderGroup") == 1)
                            {
                                <partial name="EISDesign/_ViewHeaderPartial" />
                            }
                            @if (@Accessor.HttpContext.Session.GetInt32("HeaderGroup") == 2)
                            {
                                <partial name="EISDesign/_TIP2HeaderPartial" />
                            }
                        }
                        <div class="content">
                            <!-- Main content -->
                            <section class="content">
                                <div class="row m-0">
                                    <div class="col">
                                        @RenderBody()
                                    </div>
                                </div>
                            </section>
                        </div>
                    }
                    else
                    {
                        <div class="content">
                                <!-- Main content login -->
                                <section class="content">
                                <div class="row mr-2 ml-2">
                                    <div class="col">
                                        @RenderBody()
                                    </div>
                                </div>
                            </section>
                        </div>                    
                    }
                </div>
            </div>
            <partial name="EISDesign/_Footer" />
            <!-- Control Sidebar -->
            @*<aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
                <div class="p-3">
                    <h5>Title</h5>
                    <p>Sidebar content</p>
                </div>
            </aside>*@
            <!-- /.control-sidebar -->
        </div>
    </body>
</html>
@RenderSection("Scripts", required: false)