@using Microsoft.AspNetCore.Localization
@model EIS.EISModels.ViewLzTeljesitmenyTable
<!-- Sweetalert2 -->
<link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.css">
<link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- SweetAlert2 -->
<script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<div class="modal fade" id="addCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addLabel">@EIS.Resources.Resource.ResourceManager.GetString("LZTeljesitmenyTable", System.Globalization.CultureInfo.CurrentCulture)&nbsp;@EIS.Resources.Resource.ResourceManager.GetString("Delete", System.Globalization.CultureInfo.CurrentCulture).ToLower()</h4>
                <div class="modal-tools">
                    <button type="button" class="btn btn-tool" data-dismiss="modal" id="X">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="modal-body">
                <dl class="row" style="margin-bottom: 0px;margin-left: 0px;margin-right: 0px;">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DolgozoId)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DolgozoId)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.DolgozoNeve)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.DolgozoNeve)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Datum)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Datum)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Muveletszam)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Muveletszam)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Muveletreszlet)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Muveletreszlet)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Kefetartoszam)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Kefetartoszam)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Darab)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Darab)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.HibasDarab)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.HibasDarab)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Megjegyzes)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Megjegyzes)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Muszak)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Muszak)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Ora)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Ora)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    @*<input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index">Back to List</a>*@
                </form>
            </div>

            <div class="modal-footer">
                <div class="d-flex justify-content-between m-0" style="width: 100%">
                    <div class="col-auto">
                        <button id="close" type="button" class="btn btn-close btn-block" style="width: 100px" data-dismiss="modal">@EIS.Resources.Resource.ResourceManager.GetString("Cancel", System.Globalization.CultureInfo.CurrentCulture)</button>
                    </div>
                    <div class="col-auto">
                        <button id="delete" type="button" class="btn btn-classic btn-block" style="width: 100px" data-save="modal">@EIS.Resources.Resource.ResourceManager.GetString("Delete", System.Globalization.CultureInfo.CurrentCulture)</button>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $("#delete").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'success',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("SaveTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $("#close").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'warning',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("CloseTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $("#X").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'warning',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("CloseTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $('.myselect').select2({
                                theme: 'bootstrap4',
                                placeholder: 'This is my placeholder',
                                allowClear: false
                            }).on('select2-focus', function () {
                                $(this).select2('open');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>