@model EIS.EISModels.TablePlannedDownTime
<!-- Select2 -->
<link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- Sweetalert2 -->
<link rel="stylesheet" href="~/plugins/sweetalert2/sweetalert2.min.css">
<link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- SweetAlert2 -->
<script src="~/plugins/sweetalert2/sweetalert2.all.min.js"></script>
<!-- jQuery -->
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>

<div class="modal fade" id="addCreate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addLabel">@EIS.Resources.Resource.ResourceManager.GetString("Break", System.Globalization.CultureInfo.CurrentCulture)&nbsp;@EIS.Resources.Resource.ResourceManager.GetString("Create", System.Globalization.CultureInfo.CurrentCulture)</h4>
                <div class="modal-tools">
                    <button type="button" class="btn btn-tool" data-dismiss="modal" id="X">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="padding-bottom: 20px">
                <form asp-action="Create" style="width: 100%">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row" style="border: 0 -7.5px">
                        <div class="col-6" style="padding: 0 7.5px">
                            <label asp-for="LineId" class="control-label">@EIS.Resources.Resource.ResourceManager.GetString("Line" , System.Globalization.CultureInfo.CurrentCulture)</label>
                            <div class="input-group" style="margin-bottom: 10px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-bars-staggered" style="width: 16px;"></i>
                                    </span>
                                </div>
                                <input asp-for="LineId" class="form-control" />
                                <span asp-validation-for="LineId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6" style="padding: 0 7.5px">
                            <label asp-for="Muszak" class="control-label">@EIS.Resources.Resource.ResourceManager.GetString("Muszak" , System.Globalization.CultureInfo.CurrentCulture)</label>
                            <div class="input-group" style="margin-bottom: 10px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-calendar-day" style="width: 16px;"></i>
                                    </span>
                                </div>
                                <select asp-for="Muszak" class="form-control custom-select">
                                    <option>@EIS.Resources.Resource.ResourceManager.GetString("Morning" , System.Globalization.CultureInfo.CurrentCulture)</option>
                                    <option>@EIS.Resources.Resource.ResourceManager.GetString("Afternoon" , System.Globalization.CultureInfo.CurrentCulture)</option>
                                    <option>@EIS.Resources.Resource.ResourceManager.GetString("Night" , System.Globalization.CultureInfo.CurrentCulture)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="border: 0 -7.5px">
                        <div class="col-6" style="padding: 0 7.5px">
                            <label asp-for="Status" class="control-label">@EIS.Resources.Resource.ResourceManager.GetString("BreakDescription" , System.Globalization.CultureInfo.CurrentCulture)</label>
                            <div class="input-group" style="margin-bottom: 10px">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="font-size: 1.2rem">
                                        <i class="fas fas fa-circle-info"></i>
                                    </span>
                                </div>
                                <input asp-for="Status" class="form-control" />
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 0 7.5px">
                            <label asp-for="Start" class="control-label">@EIS.Resources.Resource.ResourceManager.GetString("StartTime" , System.Globalization.CultureInfo.CurrentCulture)</label>
                            <div class="input-group" style="margin-bottom: 10px">
                                <input asp-for="Start" class="form-control" type="time" />
                                <span asp-validation-for="Start" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3" style="padding: 0 7.5px">
                            <label asp-for="End" class="control-label">@EIS.Resources.Resource.ResourceManager.GetString("EndTime" , System.Globalization.CultureInfo.CurrentCulture)</label>
                            <div class="input-group" style="margin-bottom: 10px">
                                <input asp-for="End" class="form-control" type="time" />
                                <span asp-validation-for="End" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="d-flex justify-content-between m-0" style="width: 100%">
                    <div class="col-auto">
                        <button id="close" type="button" class="btn btn-close btn-block" style="width: 100px" data-dismiss="modal">@EIS.Resources.Resource.ResourceManager.GetString("Cancel", System.Globalization.CultureInfo.CurrentCulture)</button>
                    </div>
                    <div class="col-auto">
                        <button id="save" type="button" class="btn btn-classic btn-block" style="width: 100px" data-save="modal">@EIS.Resources.Resource.ResourceManager.GetString("Save", System.Globalization.CultureInfo.CurrentCulture)</button>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $("#save").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'success',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("SaveTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $("#close").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'warning',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("CloseTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $("#X").on("click", function () {
                                Swal.fire({
                                    toast: true, position: 'top-end',
                                    icon: 'warning',
                                    title: '@EIS.Resources.Resource.ResourceManager.GetString("CloseTxt", System.Globalization.CultureInfo.CurrentCulture)',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            });
                            $('.myselect').select2({
                                theme: 'bootstrap4',
                                placeholder: 'This is my placeholder',
                                allowClear: false
                            }).on('select2-focus', function () {
                                $(this).select2('open');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>