@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using EIS.Helpers
@using Microsoft.AspNetCore.Localization
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
    int year = (int)ViewData["Year"];
    int month = (int)ViewData["Month"];
    Layout = "~/Views/Shared/EISDesign/_Layout.cshtml";
}
<div id="PlaceHolderHere"></div>
@if (!SignInManager.IsSignedIn(User))
{
    <head>
        <meta http-equiv="refresh" content="0; url='/Identity/Account/Login'" />
    </head>
}
else
{
    <div class="kanbanview">
        <div class="row" style="margin: 0px 5px">
            <!-- Working Time Reports -->
            <div class="col-xl-12" style="padding: 5px">
                <div class="card" style="min-height: 82vh;">
                    <div class="card-body chartview" style="padding: 10px 15px">
                        <h3 class="card-title" style="padding: 8px 0 0 3px;">
                            @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("LZHoursOfMonth", System.Globalization.CultureInfo.CurrentCulture))
                        </h3>
                        <table id="fixed" class="table table-bordered table-hover text-nowrap" style="width: auto; min-width: 1786px !important; margin-top: 5px !important">
                            <thead>
                                <tr class="tableheader">
                                    @for (int i = 0; i < @ViewBag.dcl; i++)
                                    {
                                        var @id = @ViewBag.dc[i];
                                        <th>
                                            @id
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.dasl > 0)
                                {
                                    @foreach (var item in ViewBag.das)
                                    {
                                        <tr class="tablebody">
                                            @for (int i = 0; i < @ViewBag.dcl; i++)
                                            {
                                                string @id = Convert.ToString(@item[i], new CultureInfo("en-US"));
                                                <td>
                                                    @id
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}