@model EIS.EISModels.Mesworker

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/EISDesign/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Mesworker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
