@model IEnumerable<EIS.EISModels.ViewIfsValueTable>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using EIS.Helpers
@using Microsoft.AspNetCore.Localization
@using System.Globalization;

@{
    ViewData["Title"] = "Index";
    string lineid = (string)ViewData["LineID"];
    int year = (int)ViewData["Year"];
    int month = (int)ViewData["Month"];
    int day = (int)ViewData["Day"];
    string shift = (string)ViewData["Shift"];
    Layout = "~/Views/Shared/EISDesign/_Layout.cshtml";
}
<div id="PlaceHolderHere"></div>
@if (!SignInManager.IsSignedIn(User))
{
    <head>
        <meta http-equiv="refresh" content="0; url='/Identity/Account/Login'" />
    </head>
}
else
{
    <div class="kanbanview">
        <div class="row" style="margin: 0px 5px">
            <!-- Downtime Report -->
            <div class="col-xl-12" style="padding: 5px">
                <div class="card" style="min-height: 82vh;">
                    <div class="card-body chartview" style="padding: 10px 15px">
                        <h3 class="card-title" style="padding: 8px 0 0 3px">
                            @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("IfsValueTables", System.Globalization.CultureInfo.CurrentCulture))
                        </h3>
                        <table id="fixed" class="table table-bordered table-hover text-nowrap" style="width: auto; min-width: 1786px !important; margin-top: 5px !important">
                            <thead>
                                <tr class="tableheader">
                                    <th>
                                        @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("IFSHeaderID", System.Globalization.CultureInfo.CurrentCulture))
                                    </th>
                                    <th>
                                        @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("BadParts", System.Globalization.CultureInfo.CurrentCulture))
                                    </th>
                                    <th>
                                        @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("FailureCodeID", System.Globalization.CultureInfo.CurrentCulture))
                                    </th>
                                    @{
                                        var requestCulture = Context.Features.Get<IRequestCultureFeature>();
                                    }
                                    @if (@requestCulture.RequestCulture.UICulture.Name == "hu-HU")
                                    {
                                        <th>
                                            @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("FailureDescription", System.Globalization.CultureInfo.CurrentCulture))
                                        </th>
                                    }
                                    else
                                    {
                                        <th>
                                            @Html.DisplayName(@EIS.Resources.Resource.ResourceManager.GetString("FailureDescriptionEN", System.Globalization.CultureInfo.CurrentCulture))
                                        </th>
                                    }
                                    <th width=6px></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tablebody">
                                        <td>
                                            <button id="myButton" type="button" class="btn btn-transparent tablebutton_transparent" data-toggle="ajax-modal" data-target="#addEdit" data-url="@Url.Action($"Edit/{item.Id}")">
                                                @Html.DisplayFor(modelItem => item.LineId)|@Html.DisplayFor(modelItem => item.StartTime)|@Html.DisplayFor(modelItem => item.ShiftId)
                                            </button>
                                        </td>
                                        <td>
                                            <button id="myButton" type="button" class="btn btn-transparent tablebutton_transparent" data-toggle="ajax-modal" data-target="#addEdit" data-url="@Url.Action($"Edit/{item.Id}")">
                                                @Html.DisplayFor(modelItem => item.BadParts)
                                            </button>
                                        </td>
                                        <td>
                                            <button id="myButton" type="button" class="btn btn-transparent tablebutton_transparent" data-toggle="ajax-modal" data-target="#addEdit" data-url="@Url.Action($"Edit/{item.Id}")">
                                                @Html.DisplayFor(modelItem => item.FailureId)
                                            </button>
                                        </td>
                                        @if (@requestCulture.RequestCulture.UICulture.Name == "hu-HU")
                                        {
                                            <td>
                                                <button id="myButton" type="button" class="btn btn-transparent tablebutton_transparent" data-toggle="ajax-modal" data-target="#addEdit" data-url="@Url.Action($"Edit/{item.Id}")">
                                                    @Html.DisplayFor(modelItem => item.FailureDescription)
                                                </button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <button id="myButton" type="button" class="btn btn-transparent tablebutton_transparent" data-toggle="ajax-modal" data-target="#addEdit" data-url="@Url.Action($"Edit/{item.Id}")">
                                                    @Html.DisplayFor(modelItem => item.FailureDescriptionEn)
                                                </button>
                                            </td>
                                        }
                                        <td width=6px>
                                            <button id="myButton" type="button" class="btn btn-link tablebutton" data-toggle="ajax-modal" data-target="#addDelete" data-url="@Url.Action($"Delete/{item.Id}")"><i class="fa fa-eraser"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
