@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = @EIS.Resources.Resource.ResourceManager.GetString("DeletePersonalData", System.Globalization.CultureInfo.CurrentCulture);
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h2 style="color: rgba(0,0,0,.9);">@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert" style="color: rgba(0,0,0,.9);">
    <p>
        <strong>@EIS.Resources.Resource.ResourceManager.GetString("Deleting this data will permanently remove your account, and this cannot be recovered.", System.Globalization.CultureInfo.CurrentCulture)</strong>
    </p>
</div>

<div style="color: rgba(0,0,0,.9);">
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Input.Password">@EIS.Resources.Resource.ResourceManager.GetString("Password", System.Globalization.CultureInfo.CurrentCulture)</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="btn btn-danger" type="submit">@EIS.Resources.Resource.ResourceManager.GetString("DeleteDataAndCloseMyAccount", System.Globalization.CultureInfo.CurrentCulture)</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}