@model EIS.EISModels.EasyMesjob

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/EISDesign/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EasyMesjob</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTimeStamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Started)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Running)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Running)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stopped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stopped)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcAuto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcAuto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalcTargetEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalcTargetEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SystemParam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SystemParam.LineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ttstypes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ttstypes.TtstypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
